GroupProject/WebMVC/Connected Services/BagCategoryService/WCFBagCategoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBagCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BagCategory" nillable="true" type="tns:BagCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBagCategory" nillable="true" type="tns:ArrayOfBagCategory" />
  <xs:complexType name="BagCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bagCID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BagCategory" nillable="true" type="tns:BagCategory" />
</xs:schema>