GroupProject/WebMVC/Connected Services/BagService/WCFBagService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55575/Services/WCFBagService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfBag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bag" nillable="true" type="tns:Bag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBag" nillable="true" type="tns:ArrayOfBag" />
  <xs:complexType name="Bag">
    <xs:sequence>
      <xs:element minOccurs="0" name="BagCID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BagID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bag" nillable="true" type="tns:Bag" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListBuyBags" nillable="true" type="q1:ArrayOfKeyValueOfstringBagKY9WL1dN" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>