GroupProject/WebMVC/Connected Services/BagService/WCFBagService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bag" nillable="true" type="tns:Bag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBag" nillable="true" type="tns:ArrayOfBag" />
  <xs:complexType name="Bag">
    <xs:sequence>
      <xs:element minOccurs="0" name="BagCID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BagID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bag" nillable="true" type="tns:Bag" />
</xs:schema>