GroupProject/WebMVC/Connected Services/BagService/WCFBagService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55575/Services/WCFBagService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
  <xs:element name="GetAllBooksForUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetAllBooksForUserResult" nillable="true" type="q1:ArrayOfBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksForAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetAllBooksForAdminResult" nillable="true" type="q2:ArrayOfBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewBag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="bag" nillable="true" type="q3:Bag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewBagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewBagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="bag" nillable="true" type="q4:Bag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bagID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBagByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBagByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetBagByIDResult" nillable="true" type="q5:Bag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>